{% load pipeline %}

<!doctype html>
<html lang="en" data-framework="react">
	<head>
		<meta charset="utf-8">
		<title>React • TodoMVC</title>
        <link rel="stylesheet" href="{{STATIC_URL}}css/base.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/index.css">
	</head>
	<body>
		<section class="todoapp"></section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<p>Created by <a href="http://github.com/petehunt/">petehunt</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>

        <script src="{{STATIC_URL}}js/base.js"></script>
        <script src="{{STATIC_URL}}js/react-with-addons.js"></script>
        <script src="{{STATIC_URL}}js/director.js"></script>

        <script src="{{STATIC_URL}}js/utils.js"></script>
        <script src="{{STATIC_URL}}js/todoModel.js"></script>
        {% javascript 'todo' %}
	</body>
</html>
